.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; /* height: 100vh; */
  overflow-y: hidden;
}

.rekki {
  padding-top: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'petitcochon';
  font-size: var(--fs-xl);
  z-index: 1000; 
  text-align: center;
  background-color: #FFDBFE;
}

.homePage {
  display: flex;
  width: 100%;
  padding: 4rem;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30vh;
  align-items: center;
  transition: all 1s ease-in-out;
}

.homePage.moveUp {
  transform: translateY(-14rem); 
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

form {
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease;
}

input[type="text"] {
  width: 100%; 
  height: clamp(3rem, 5vw, 4rem); /* note: it is vw, as the height will change relative to the width of the viewport */
  border: none;
  border-radius: 4rem;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  outline: none;
  padding: 1rem;
}

input[type="text"]::placeholder {
  color: #FF4374; 
  font-size: var(--fs-400);
}

/* This will hide the placeholder text when the user starts typing */
input[type="text"]:focus::placeholder {
  color: transparent; 
}

.submit-btn {
  /* width: 20px;
  height: 40px; */
  position: relative;
  width: 20%;
  max-width: 60px;
  height: clamp(3rem, 5vw, 4rem); /* same as input */
  background-color: #ffffff;
  color: var(--black);
  border: none;
  border-radius: 4rem;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  padding: 8px 15px;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchIcon {
  width: 50px;
  height: 50px;
  position: absolute; /* Position the icon absolutely within the button */
  top: 50%; /* Center vertically */
  left: 80%; /* Center horizontally */
  transform: translate(-80%, -50%); /* must be used with top and left, to center the middle of the icon to the middle of the container*/
   /* top: 50%; and left: 50%; positions the top-left corner of the element at the center of its parent.*/
   /* If you only use top: 50%; and left: 50%;, the element's top-left corner will be at the center of its container.
   /* This means the center of the element itself (the point equidistant from its edges) is not aligned with the center of the container.*/
}

.intro-text {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: var(--fs-600);
  text-align: center;
  color: var(--black);
}

.form-submitted .intro-text {
  opacity: 0;
  visibility: hidden;
}

.resultsFor{
  margin-top: 0rem; 
  margin-right: 14rem;
  font-size: var(--fs-400);
  position: fixed;
  top: 5rem; 
  width: 100%;
  z-index: 900; 
  text-align: center;
  background-color: #FFDBFE;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s forwards;

}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(minmax(20rem, 100%), 1fr)); 
  gap: 1rem;
}

.card {
  border-radius: 1rem;
  padding: 1.5rem;
  /* width: 20rem;
  height: 8rem; */
  background-color: white;
  box-shadow: 0px 2px 2px 0px var(--silver-light);
  display: flex;
  flex-direction: row;
}

.card p{
  text-align: left; 
}

.lvl2{
  color: #636363;
  padding: 0;
  margin:0;
  max-height: 1.5rem;
}

.lvl3{
  /* max-width: 20rem;  */
  color: #B4B4B4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical; */
}

.smallImage {
  width: 3rem;
  height: 3rem;
}

.katsu {
  display:flex;
  width: 50px;
  height: 50px;
  position: relative; 
}

.bear {
  width: 1320px; /* Set the initial width */
  max-width: 200%; /* Ensure it doesn't exceed the container width */
  height: auto; /* Auto adjust height as page shrinks or expands */ /* height: 948px; */
  overflow: hidden;
  position: relative; 
  top: 4rem;
}